<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65535"/>
    </connectionManagement>
  </system.net>

  <appSettings>
    <add key="API_KEY" value="c45f9ec0ee4c491c9f05b8f2fde7cc2c"/>
    <add key="SECRET_KEY" value="28eb4b4511344669be23b449763c2cf3"/>

    <add key="API_KEY2" value="4927583b7a724105ba9741594b582b46"/>
    <add key="SECRET_KEY2" value="add2052214dd4f77866cb1f439020cf6"/>

    <add key="API_KEY3" value="ce43173a7f69483eb9e8e05438c8e146"/>
    <add key="SECRET_KEY3" value="4717007a37214b079b754d99117c0145"/>
  </appSettings>
</configuration>
